{% include "header.html" %}
{% include "navigation.html" %}

                <!-- Title area start -->
                <div class="row title-bar">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="card">
                            <div class="card-body pathbar">
                                <a href="">Error</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Title area end -->

                <!-- Simple page start -->
                <div class="row" style="margin-top:22px">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="card">

                            <div class="centerbox-error" style="margin-top:30px">
                                {{data.error}}
                             </div>

                            <div class="card-body" style="font-size:16px; margin: 0 auto">
                                <a href="javascript:history.back()">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Simple page end -->

{% include "footer.html" %}
