{% include "header.html" %}
{% include "navigation.html" with white_background=True hide_logo=True %}

                <!-- Simple page area start -->
                <div class="row title-bar">
                    <div class="col-xl-12">
                        <div class="card" style="text-align:center;">
                            <div class="card-body home-intro" style="margin: 0 auto; padding-bottom:0px">
                                <div class="logo-maindiv" style="text-align:center; width:100%">
                                    <h1>CarboBot</h1>
                                </div>
	                        <p>
	                        The CarboBot project
	                        </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Simple page area end -->

{% include "footer.html" %}

